//fonts
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

* {
	// border: 1px solid black;
	margin: 0;
	padding: 0;
}

.app-body {
	position: absolute;
	top: 80px;
}

@import 'defs';
@import 'navbar';
@import 'home';
@import 'about';

