.nav-container{
	height: $navbar-height;
	background-color: black;
	opacity: .8;
	position: absolute;
	width: 100%;
	
	color: white;
	font-family: 'Amatic SC', cursive;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid beige;
	.nav-flex {
		flex-grow: 1;
	}
	.nav-center {
		flex-grow: 3;
		text-align: center;
		.nav-center-list {
			.nav-center-list-item {
				opacity: 1;
				display: inline-block;
				a {
					text-decoration: none;
					color: white;
				}
			}
			.nav-link {
				button {
					font-size:23px;
					color: white;
					text-decoration: none;	
					font-family: 'Amatic SC', cursive;
					background-color: black;
					border: none;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
					}
				}
				opacity: 1;
				margin: 0 12px;
				&:hover {
					text-decoration: underline;
				}
				cursor: pointer;
				font-size: 23px;
			}
			div h1 {
				opacity: 1;
				margin: 20px 12px 0 12px;
				font-size: 44px;
				cursor: pointer;
			}

		}
	}
}