.nav-container{
	height: $navbar-height;
	background-color: #333;
	color: white;
	font-family: 'Amatic SC', cursive;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid beige;
	.nav-flex {
		flex-grow: 1;
	}
	.nav-center {
		flex-grow: 3;
		text-align: center;
		.nav-center-list {
			.nav-center-list-item {
				display: inline-block;
			}
			.nav-link {
				margin: 0 12px;
				&:hover {
					text-decoration: underline;
				}
				cursor: pointer;
				font-size: 20px;
			}
			div h1 {
				margin: 20px 12px 0 12px;
				font-size: 40px;
				cursor: default;
			}

		}
	}
}