@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
* {
  margin: 0;
  padding: 0; }

.nav-container {
  height: 80px;
  background-color: #333;
  color: white;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid beige; }
  .nav-container .nav-flex {
    flex-grow: 1; }
  .nav-container .nav-center {
    flex-grow: 3;
    text-align: center; }
    .nav-container .nav-center .nav-center-list .nav-center-list-item {
      display: inline-block; }
    .nav-container .nav-center .nav-center-list .nav-link {
      margin: 0 12px;
      cursor: pointer;
      font-size: 20px; }
      .nav-container .nav-center .nav-center-list .nav-link:hover {
        text-decoration: underline; }
    .nav-container .nav-center .nav-center-list div h1 {
      margin: 20px 12px 0 12px;
      font-size: 40px;
      cursor: default; }

.splash {
  background-image: url("../images/home-page-headphones.jpg");
  height: calc(100vh - 80px); }
