@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
* {
  margin: 0;
  padding: 0; }

.app-body {
  position: absolute;
  top: 80px; }

.nav-container {
  height: 80px;
  background-color: black;
  opacity: .8;
  position: absolute;
  width: 100%;
  color: white;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid beige; }
  .nav-container .nav-flex {
    flex-grow: 1; }
  .nav-container .nav-center {
    flex-grow: 3;
    text-align: center; }
    .nav-container .nav-center .nav-center-list .nav-center-list-item {
      opacity: 1;
      display: inline-block; }
      .nav-container .nav-center .nav-center-list .nav-center-list-item a {
        text-decoration: none;
        color: white; }
    .nav-container .nav-center .nav-center-list .nav-link {
      opacity: 1;
      margin: 0 12px;
      cursor: pointer;
      font-size: 23px; }
      .nav-container .nav-center .nav-center-list .nav-link:hover {
        text-decoration: underline; }
    .nav-container .nav-center .nav-center-list div h1 {
      opacity: 1;
      margin: 20px 12px 0 12px;
      font-size: 44px;
      cursor: pointer; }

.splash {
  background-image: url("../images/home-page-headphones.jpg");
  height: 100vh; }
